:root {
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --clr-neon: hsl(317 100% 54%);
  --clr-bg: hsl(323 21% 16%);

  background-color: var(--bg-secondary);
  cursor: url(../scripts/sword-red.png) -25 -30, auto;
}

body {
  margin: 0;
  padding: 0;
}
.Navbar {
  font-family: "Gemunu Libre", sans-serif;
  background-color: var(--bg-secondary);
  cursor: url(../scripts/sword-red.png) -25 -30, auto;
}
.dropdown-menu.show,
.dropdown-item {
  cursor: url(../scripts/sword-red.png) -25 -30, auto;
}

.Window1_holder {
  background-image: linear-gradient(#141418, rgb(82, 7, 82), #141418);
  font-family: "Gemunu Libre", sans-serif;
  color: var(--text-primary);
  font-size: 100%;
}
.Footer_text {
  font-family: "Gemunu Libre", sans-serif;
  text-align: center;
  background-color: var(--bg-secondary);
  color: var(--text-secondary);
  padding: 20px;
}

.navbar-dark .navbar-toggler {
  border: none;
}
.dropdown-toggle {
  text-align: center;
}
.Side_bar_container {
  padding: 20px;
  border-color: 1px, seashell;
}
.img_for_carousel {
  display: block;
  width: 100%;
  height: 20%;
}
.Carousel_container {
  transform: translateY(2px);
  font-size: 2rem;
  text-decoration: none;
  color: var(--clr-neon);
  border: var(--clr-neon) 0.125em solid;

  border-radius: 10px;
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
  box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0em var(--clr-neon);
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background-image: linear-gradient(#22011f, rgb(82, 7, 82), #141418);
}

body::-webkit-scrollbar-thumb {
  background: #f303fb;
  border-radius: 10px;
}
.Carousel_items > img {
  border-radius: 10px;
}
.Haniel_space {
  padding-top: 100px;
  padding-bottom: 100px;
  width: auto;
  margin: 0;
}
.Nephilim_space {
  padding-bottom: 100px;
}

.Dullah_space {
  padding-bottom: 100px;
}

.Dianna_space {
  padding-bottom: 100px;
}

.carousel-control-next:focus,
.carousel-control-next:hover,
.carousel-control-prev:focus,
.carousel-control-prev:hover {
  cursor: url(../scripts/sword-red.png) 25 15, auto;
}
/* medium screen */
@media only screen and (max-width: 600px) {
  .Carousel_items > img {
    margin: 0;

    border: 2px solid rgb(151, 2, 151);
  }
}
.Haniel_pf_container {
  display: flex;
  justify-content: left;
  padding: auto;
}
.Haniel_pf_img {
  border-radius: 100%;
}
.Outline_Hover {
  font-size: 4rem;
  text-decoration: none;
  color: var(--clr-neon);
  border: var(--clr-neon) 0.125em solid;
  padding: 0.25em;
  border-radius: 100%;
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
  box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);
  transition: 1.5s;
}
.Outline_Hover:hover {
  font-size: 4rem;
  text-decoration: none;
  color: white;
  border: white 0.125em solid;
  padding: 0.25em;
  border-radius: 100%;
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
  box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);
}

/* small screen */
@media only screen and (max-width: 425px) {
  .Haniel_pf_container {
    display: flex;
    justify-content: center;
  }
  .Haniel_pf_img {
    border-radius: 100%;
    width: 300px !important;
    height: 300px !important;
  }
  .Haniel_space {
    padding-top: 50px;
  }
  .col-6 {
    width: 100% !important;
  }
}

@media only screen and (max-width: 991px) {
  .Haniel_pf_container {
    display: flex;
    justify-content: center;
  }
  .Haniel_pf_img {
    border-radius: 100%;
    width: 300px !important;
    height: 300px !important;
  }
  .Haniel_space {
    padding-top: 50px;
  }
  .col-6 {
    width: 100% !important;
  }
}

@media only screen and (max-width: 1024px) {
  .Haniel_pf_container {
    display: flex;
    justify-content: center;
  }
  .Haniel_pf_img {
    border-radius: 100%;
    width: 300px !important;
    height: 300px !important;
  }
  .Haniel_space {
    padding-top: 50px;
  }
  .col-6 {
    width: 100% !important;
  }
}
