:root {
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --clr-neon: hsl(317 100% 54%);
  --clr-bg: hsl(323 21% 16%);

  background-color: var(--bg-secondary);
  cursor: url(../scripts/sword-red.png) -25 -30, auto;
}

body {
  margin: 0;
  padding: 0;
}
.Navbar {
  font-family: "Gemunu Libre", sans-serif;
  background-color: var(--bg-secondary);
  cursor: url(../scripts/sword-red.png) -25 -30, auto;
}
.dropdown-menu.show,
.dropdown-item {
  cursor: url(../scripts/sword-red.png) -25 -30, auto;
}

.Window1_holder {
  background-image: linear-gradient(#141418, rgb(82, 7, 82), #141418);
  font-family: "Gemunu Libre", sans-serif;
  color: var(--text-secondary);

  transform: translate(0, -3px);
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;

  box-shadow: inset 0 0 1em 0 var(--clr-neon);
}
.content_text {
  font-size: auto;
}
.Footer_text {
  font-family: "Gemunu Libre", sans-serif;
  text-align: center;
  background-color: var(--bg-secondary);
  color: var(--text-secondary);
  padding: 20px;
  transform: translate(0, 3px);
}

.navbar-dark .navbar-toggler {
  border: none;
}
.dropdown-toggle {
  text-align: center;
}
.Side_bar_container {
  padding: 20px;
  border-color: 1px, seashell;
}
.img_for_carousel {
  display: block;
  width: 100%;
  height: 20%;
}
.Carousel_container {
  transform: translateY(30px);
  font-size: 2rem;
  text-decoration: none;
  border-radius: 10px;
}
.carousel {
  box-shadow: 0 0 1em 0 var(--clr-neon);
  text-align: center;
  padding: auto;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background-image: linear-gradient(#22011f, rgb(82, 7, 82), #141418);
}

body::-webkit-scrollbar-thumb {
  background: #f303fb;
  border-radius: 10px;
}
.Carousel_items > img {
  border-radius: 10px;
}
.cresent_link_paragraph {
  padding-top: 100px;
  padding-bottom: 50px;
  display: flex;
  text-align: center;
}

.svg_twitter {
  width: 2rem;
  height: 2rem;
  margin: 0 0.5rem;
  color: white;
}

.Haniel_space {
  padding-top: 100px;
  padding-bottom: 100px;
  margin: 0;
  background-color: var(--bg-secondary);
  box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);
}
.Nephilim_space {
  padding-top: 100px;
  padding-bottom: 200px;
  box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);
}

.Dullah_space {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: var(--bg-secondary);
  box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);
}

.Dianna_space {
  padding-top: 100px;
  padding-bottom: 100px;
}

.carousel-control-next:focus,
.carousel-control-next:hover,
.carousel-control-prev:focus,
.carousel-control-prev:hover {
  cursor: url(../scripts/sword-red.png) 25 15, auto;
}
/* medium screen */
@media only screen and (max-width: 600px) {
  .Carousel_items > img {
    border: 2px solid rgb(151, 2, 151);
  }
}
.clptalents_pf_container {
  display: flex;
  justify-content: center;
  margin: 0;
  margin-bottom: 30px;
}
.clptalents_pf_img {
  border-radius: 100%;
}
.text_below_imgpf_text {
  border-radius: 10px;
  width: auto;
  text-align: center;
  font-size: 70px;
  color: var(--clr-neon);
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
  transition: 1.2s;
}
.text_below_imgpf_text:hover {
  color: white;
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em var(--clr-neon);
}
.Outline_Hover {
  font-size: 4rem;
  text-decoration: none;
  color: var(--clr-neon);
  border: var(--clr-neon) 0.125em solid;
  padding: 0.25em;
  border-radius: 100%;
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
  box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);
  transition: 1.2s;
}
.Outline_Hover:hover {
  font-size: 4rem;
  text-decoration: none;
  color: white;
  border: white 0.125em solid;
  padding: 0.25em;
  border-radius: 100%;
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
  box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);
}

/* small screen */
@media only screen and (max-width: 425px) {
  .clptalents_pf_container {
    display: flex;
    justify-content: center;
  }
  .clptalents_pf_img {
    border-radius: 100%;
    width: 300px !important;
    height: 300px !important;
  }
  .clptalents_space {
    padding-top: 50px;
  }
  .col-6 {
    width: 100% !important;
  }
  .Haniel_space,
  .Nephilim_space,
  .Dullah_space,
  .Dianna_space {
    padding-top: 340px;
    padding-bottom: 100px;
  }
  .Carousel_container {
    transform: translateY(40%);
  }
  .text_below_imgpf_text {
    font-size: 40px;
  }
  .svg_twitter {
    width: 2rem;
    height: 2rem;
    margin: 0 0.5rem;
    color: white;
    transform: translateY(-3px);
  }
}

@media only screen and (max-width: 991px) {
  .clptalents_pf_container {
    display: flex;
    justify-content: center;
  }
  .clptalents_pf_img {
    border-radius: 100%;
    width: 300px !important;
    height: 300px !important;
  }
  .clptalents_space {
    padding-top: 50px;
  }
  .col-6 {
    width: 100% !important;
  }
  .Haniel_space,
  .Nephilim_space,
  .Dullah_space,
  .Dianna_space {
    padding-top: 340px;
    padding-bottom: 100px;
  }
}

@media only screen and (max-width: 1024px) {
  .clptalents_pf_container {
    display: flex;
    justify-content: center;
  }
  .clptalents_pf_img {
    border-radius: 100%;
    width: 300px !important;
    height: 300px !important;
  }
  .clptalents_space {
    padding-top: 50px;
  }
  .col-6 {
    width: 100% !important;
  }
}

.haniel_slide,
.nephilim_slide,
.dullah_slide,
.dianna_slide {
  text-decoration: none;
}
.Yellow {
  color: yellow;
}
.span_personality,
.span_Lore {
  display: flex;
  width: auto;
  justify-content: center;
  color: rgb(232, 58, 255);
}
.p_personality,
.p_Lore {
  display: flex;
  width: auto;
  text-align: left;
  font-size: 20px;
}
.bottom_details_and_info {
  display: flex;
}
.details_and_info {
  padding: 30px;
}
@media only screen and (max-width: 1224px) {
  .bottom_details_and_info {
    display: block;
  }
  .details_and_info {
    padding: auto;
    justify-content: center;
    display: inline-flex;
  }
}
.forbidden {
  opacity: 0;
  transition: 1s;
  color: red;
  text-transform: uppercase;
}
.forbidden:hover {
  opacity: 1;
}
.svg_twitter_i,
.svg_yt_i {
  width: 2rem;
  height: 2rem;
  margin: 0 0.5rem;
}
.svg_twitter_i {
  color: rgb(0, 183, 255);
}
.svg_yt_i {
  color: red;
}
.law_tw_link {
  font-size: 15px;
  color: rgb(0, 183, 255);
}
.alph_tw_link {
  color: rgb(0, 183, 255);
}
.CLP_text {
  font-size: 16px;
  color: var(--clr-neon);
}
