:root {
  font-size: 16px;
  font-family: "Open Sans";
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --transition-speed: 600ms;
}

.div_one_main {
  font-size: 25px;
  font-weight: 10;
  border-radius: 10px;

  margin-left: 90px;
  margin-right: 10px;
  padding: 0;
  padding-bottom: 20%;
  width: 100;

  border-radius: 30px;
  background: linear-gradient(225deg, #e6e6e6, #ffffff);
  box-shadow: -21px 21px 27px #8c8c8c, 21px -21px 27px #ffffff;

  -webkit-text-fill-color: rgb(
    48,
    1,
    41
  ); /* Will override color (regardless of order) */
  -webkit-text-stroke-width: px;
  -webkit-text-stroke-color: #a349df;
}
.one_title_header {
  text-align: center;
  cursor: pointer;
  color: black;
  -webkit-text-fill-color: rgb(
    144,
    8,
    255
  ); /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.p_color {
  margin-left: 10%;
  margin-right: 10%;
}

@media only screen and (max-width: 600px) {
  .div_one_main {
    margin-left: 10px;
    margin-right: 10px;
  }
}
